.main-container {
    padding: 16px;
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .corner-container {
        h5 {
            margin-bottom: 0%;
        }
        text-align: center;    
    }
    app-mode-switch {
        margin-right: auto;
    }

}

