<div class="main-container">
    <header>
        <h1>Hot Desks Booking System</h1>
        <app-mode-switch (modeChange)="onModeChange($event)"></app-mode-switch>
        <div class="corner-container">
            <h5>Hello {{employee.firstName}}!</h5>
            <ng-container *ngIf="!isActive;">
                <app-role-switch (employeeChange)="onEmployeeChange($event)"></app-role-switch>
            </ng-container>
        </div>
    </header>
    <ng-container *ngIf="!isActive; else manageReservations">
        <app-main-screen [employee]="employee"></app-main-screen>
    </ng-container>
    <ng-template #manageReservations>
        <app-manage-my-reservations [employee]="employee"></app-manage-my-reservations>
    </ng-template>
</div>